.nav-space {
    justify-content: space-between;
}
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-cont {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: repeat(3, 212px);
    gap: 20px;
    width: 90%;
    margin: auto 15px;
}

.book-card {
    border-radius: 5px;
    background: rgba(248, 249, 250, 1);
    height: 230px;
}
.book-card1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.book-card1 > h5 {
    text-align: center;
}
.book-card2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    gap: 10px;
}
.book-card2 > button {
    width: 100px;
}

#overlay-form, #overlay-form1, #overlay-form2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    height: 400px;
    width: 400px;
    /* border: 1px solid black; */
    border-radius: 15px;
}

input[type=text], input[type=number], input[type=password] {
    height: 40px;
    width: 277px;
    text-align: center;
}

#overlay > div, #overlay1 > div, #overlay2 > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 150px 0 150px 0;
} 
#log-out-btn {
    display: none;
}
#overlay, #overlay1, #overlay2{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
} 
.overlay-btn {
    width: 150px;
    font-size: 20px;
}
.overlay-btn-sign {
    width: 175px;
    font-size: 20px;
}

/* .overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
} */
#overlay.active, #overlay1.active, #overlay2.active{
    display: block;
} 
.addbtn {
    margin: 25px 0;
} 
#logged-in-user{
    margin-top: 15px;
}
.d-flex {
    gap: 5px;
    justify-content: center;
    align-items: center;
}  

@media screen and (max-width: 1024px) {
    .card-cont {
        display: grid;
        grid-template-columns: repeat(4, 200px);
        grid-template-rows: repeat(3, 212px);
        gap: 20px;
        width: 100%;
        margin: auto 15px;
    }
} 
@media screen and (max-width: 872px){
    .card-cont {
        display: grid;
        grid-template-columns: repeat(3, 200px);
        grid-template-rows: repeat(3, 212px);
        gap: 20px;
        width: 100%;
        margin: auto 15px;
    }
}
@media screen and (max-width: 666px){
    .card-cont {
        display: grid;
        grid-template-columns: repeat(2, 200px);
        grid-template-rows: repeat(3, 212px);
        gap: 20px;
        width: 100%;
        margin: auto 15px;
    }
}

@media screen and (max-width: 438px){
    .card-cont {
        display: grid;
        grid-template-columns: repeat(2, 170px);
        grid-template-rows: repeat(3, 200px);
        gap: 20px;
        width: 100%;
        margin: auto 15px;
    }; 
    
}
@media screen and (max-width: 375px){
    .card-cont {
        display: grid;
        grid-template-columns: repeat(2, 150px);
        grid-template-rows: repeat(3, 190px);
        gap: 25px;
        width: 100%;
        margin: auto 15px;
    }; 
}
@media screen and (max-width: 333px){
    .card-cont {
        display: grid;
        grid-template-columns: repeat(1, 150px);
        grid-template-rows: repeat(1, 190px);
        gap: 25px;
        width: 100%;
        margin: auto 15px;
    }; 
}
@media screen and (max-width: 320px){
    .card-cont {
        display: grid;
        grid-template-columns: repeat(1, 150px);
        grid-template-rows: repeat(1, 190px);
        gap: 25px;
        width: 100%;
        margin: auto 15px;
    }; 
}